@charset "utf-8";
/*-------------------
*Description:        By www.yiwuku.com
*Website:            https://app.zblogcn.com/?id=1681
*Author:             尔今 erx@qq.com
*update:             2018-04-12(Last:2018-09-29)
-------------------*/
* {
    padding: 0;
    margin: 0
}

ul {
    list-style: none
}

img {
    border: 0;
    transition: all .3s linear;
}

input, select, button {
    font-size: 12px;
    vertical-align: middle;
    outline: none;
}

em, i {
    font-style: normal
}

a {
    color: #333;
    text-decoration: none;
    transition: all .3s linear;
}

a:hover {
    color: #F4791F
}

body {
    color: #111;
    font-family: "\5FAE\8F6F\96C5\9ED1", "\82F9\679C\4E3D\4E2D\9ED1", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f5f5f5;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bigbox {
    width: 1280px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.fa {
    color: #aaa
}

.mlight {
    color: #F4791F
}

.nowrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

/* Header */
#topnav {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    background-color: #34393f;
    clear: both
}

#topnav .tnlt {
    float: left;
    max-width: 50%;
    color: #999;
}

#topnav .tnrt {
    float: right;
    color: #bbb;
}

#topnav .tnrt a {
    margin-left: 15px;
    color: #ddd;
}

#topnav .tnrt a:hover {
    color: #fff;
}

#topnav .tnrt a i.fa {
    color: #bbb;
    margin-right: 3px
}

#topnav .wrap {
    position: relative
}

.hd-qrcode img {
    display: none;
    position: absolute;
    top: 32px;
    right: 0;
    height: 100px;
    background: #fff;
    padding: 3px;
    box-shadow: -2px 2px 2px #ddd, 2px 0 2px #ddd;
    z-index: 99;
}

.hd-qrcode:hover img {
    display: block;
}

.maintop {
    position: relative;
    padding: 10px 0;
    overflow: hidden;
    clear: both
}

.maintop .mlogo {
    float: left;
    padding: 10px 0 0
}

.maintop .topsh {
    float: right;
    padding: 17px 0 0
}

.topsh .hdin {
    width: 200px;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    border: 1px #ddd solid;
    background: #f8f8f8;
    border-radius: 20px;
}

.topsh .hdin:focus {
    border-color: #34393f;
    background: #fff;
}

.topsh .hbtn {
    margin: -1px 0 0 -28px;
    font-size: 18px;
    border: 0;
    background: none;
    cursor: pointer;
}

.topsh .swd {
    max-width: 220px;
    padding: 3px 0 0 10px;
}

.topsh .swd a {
    margin: 0 5px;
    font-size: 12px;
}

.topsh .swd a:hover {
    text-decoration: underline;
}

.alltop {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -25.8%;
    width: 50%;
    height: 60px;
    text-align: center;
    overflow: hidden;
}

.topmenu {
    height: 48px;
    line-height: 48px;
    background: #18ade5;
}

.navbar {
    width: 300%;
}

.navbar li {
    position: relative;
    float: left;
    z-index: 9991;
}

.navbar li a {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 0 18px;
}

.navbar > li:first-child > a {
    padding: 0 26px;
}

.navbar li a i.fa {
    color: #fff;
    margin-right: 5px;
    font-size: 16px;
}

.navbar li a i.fa-caret-down {
    font-size: 14px;
    margin: 0 0 0 4px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
}

.navbar li:hover i.fa-caret-down {
    transform: rotate(180deg);
}

.navbar > li > a:hover, .navbar > li.cu > a {
    background: rgba(255, 255, 255, .2);
}

.navbar > li.current > a {
    background: #F4791F;
}

.navbar li ul {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    background: #18ade5;
    z-index: 9992;
}

.navbar li ul li {
    float: none;
}

.navbar li ul li a {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    border-top: 1px rgba(255, 255, 255, .3) dotted;
    padding: 0;
    overflow: hidden;
}

.navbar li ul a:hover {
    background: rgba(255, 255, 255, .2);
}

/* Home */
.topbox {
    margin-top: 20px;
    overflow: hidden;
}

.cdmslider {
    float: left;
    width: 250px;
    height: 300px;
    margin-right: 20px !important;
}

.cdmslider .swiper-slide img {
    width: 100%;
}

.cdtit {
    position: relative;
    height: 38px;
    border-bottom: 3px #18ade5 double;
    clear: both;
}

.cdtit:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 80%;
    height: 1px;
    margin-left: -40%;
    overflow: hidden;
    border: 0 #fff solid;
    border-width: 1px 0;
    background: #18ade5;
}

.cdtit:before {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.cdtit h3 {
    float: left;
    max-height: 100%;
    line-height: 38px;
    font-size: 16px;
    padding: 0 1em;
    overflow: hidden;
}

.intit h3 .fa {
    font-size: 18px;
    font-weight: normal;
    margin: 0 5px 0 0;
}

.inpr {
    float: right;
    padding: 7px 0 0;
}

.inpr em {
    position: absolute;
    top: 11px;
    right: 93px;
    color: #bbb;
    font-size: 12px;
}

.inpr p {
    position: absolute;
    top: 10px;
    right: 93px;
    font-weight: bold;
}

.inpr p b {
    color: #f00;
    margin: 0 3px;
}

.inpr span {
    display: inline-block;
    width: 30px;
    height: 21px;
    line-height: 23px;
    text-align: center;
    margin: 0 10px 0 0;
    color: #555;
    font-size: 12px;
    background: #f8f8f8;
    border: 1px #ddd solid;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
}

.inpr span:hover {
    border-color: #bbb;
}

.inpr span:active {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
}

.inews {
    height: 300px;
    border: 1px #e9e9e9 solid;
    box-sizing: border-box;
    overflow: hidden
}

.inews ul {
    padding: 12px 0 0;
}

.inews li {
    float: left;
    width: 50%;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 15px;
    box-sizing: border-box;
}

.inews li .d, .cmslist li .d {
    position: relative;
    color: #bbb;
    font-size: 12px;
    margin-right: 12px;
}

.inews li .d:after, .cmslist li .d:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2px;
    right: -6px;
    width: 0;
    height: 12px;
    border-left: 1px #ddd dotted;
}

.inews li .d.td, .cmslist li .d.td {
    color: #f00;
    margin-left: 2px;
}

.inews li .b {
    font-weight: bold;
}

.cmsbox {
    overflow: hidden
}

.cmslist {
    float: left;
    width: 24%;
    margin: 20px 1.25% 0 0;
    border: 1px #e9e9e9 solid;
    box-sizing: border-box;
}

.cmslist:nth-child(4n) {
    margin-right: 0
}

.cdtit .more {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 12px;
    color: #fff;
    background: #18ade5;
    border-radius: 12px;
    padding: 3px 8px;
}

.cmslist ul {
    min-height: 224px;
    padding: 10px 0
}

.cmslist li {
    line-height: 28px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 15px;
    box-sizing: border-box;
}

.vplist {
    margin: 20px 0 0;
    border: 1px #e9e9e9 solid;
    clear: both
}

.csort {
    font-size: 12px;
    font-family: "\5B8B\4F53";
    padding: 12px 0 0;
}

.csort a {
    line-height: 12px;
    padding: 0 9px;
    border-left: 1px #ddd solid
}

.vpshow {
    padding: 0 16px 16px;
    overflow: hidden;
}

.vplist li {
    position: relative;
    float: left;
    width: 220px;
    height: 160px;
    margin: 16px 16px 0 0;
    overflow: hidden
}

.vplist li:nth-child(5n) {
    margin-right: 0
}

.vplist li img {
    width: 100%;
    min-height: 100%;
}

.vplist li img:hover {
    transform: scale(1.1);
}

.vplist li .text {
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 84%;
    color: #fff;
    padding: 5px 8%;
    background: rgba(0, 0, 0, 0.6);
    transition: all .2s linear;
}

.vplist li:hover .text {
    bottom: 0;
}

.vplist li .text a {
    display: block;
    height: 44px;
    line-height: 22px;
    color: #fff;
    font-size: 15px;
    overflow: hidden;
}

/* Left */
#content {
    overflow: hidden;
    clear: both;
    padding: 0 0 30px;
}

#contentleft {
    margin: 20px 26% 0 0;
    overflow: hidden;
}

#page-w {
    border: 1px #d3d3d3 solid;
    background: #fcfcfc;
    overflow: hidden
}

.imoney {
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
    overflow: hidden
}

.imoney img {
    width: 100%
}

.loglist {
    padding: 0 10px 0 0;
}

.loglist li.con {
    border-bottom: 1px #e9e9e9 solid;
    clear: both;
    padding: 20px 5px 20px 0;
    overflow: hidden;
    box-shadow: 0 1px 0 #fff;
}

.loglist li.con:hover {
    background: #fafafa;
}

.loglist li.con a.pic {
    float: left;
    display: block;
    height: 160px;
    margin-right: 20px;
    overflow: hidden;
}

.loglist li.con a.pic img {
    width: auto;
    height: 100%;
    text-align: center;
}

.loglist li.con a.pic img:hover {
    transform: scale(1.1);
}

.loglist li.con > h4 {
    display: none
}

.loglist li.con h4 {
    padding: 0 0 18px;
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    word-break: normal;
}

.loglist li.con h4 i.fa {
    margin-right: 6px;
}

.loglist li.con h4 a {
    font-family: tahoma, arial, sans-serif;
}

.loglist li.con h4 a:hover, .tags a:hover {
    color: #F4791F
}

.loglist li.con .des .text {
    height: 72px;
    line-height: 24px;
    color: #888;
    margin: 0 0 18px;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
}

.loglist li.con .des .attr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loglist li.con .des .attr span {
    color: #888;
    font-size: 12px;
    padding-right: 1em;
}

.loglist li.con .des .attr a {
    color: #888;
}

.loglist li.con .des .attr a:hover {
    color: #111;
}

.loglist li.con .des .tags {
    font-size: 12px;
    line-height: 18px;
    padding: 9px 0;
}

.tags a {
    display: inline-block;
    margin: 0 12px 0 0;
}

.tags a:hover {
    text-decoration: underline;
}

.tags .fa, .ainfo .fa {
    margin-right: 5px;
    color: #bbb;
}

/* Right */
#sidebar {
    float: right;
    width: 24%;
    overflow: hidden
}

#sidebar .function {
    margin-top: 20px;
    background: #fafafa;
    overflow: hidden
}

#sidebar .function_t {
    position: relative;
    margin: 5px 15px 0;
    height: 40px;
    line-height: 40px;
    text-indent: 5px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px #e9e9e9 solid
}

#sidebar .function_t:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 30%;
    height: 0;
    border-bottom: 3px #bbb solid;
}

#sidebar .function_c > div {
    text-align: center;
}

#sidebar .function_c > ul {
    padding: 9px 15px
}

#sidebar .function_c > ul > li {
    position: relative;
    line-height: 24px;
    border-bottom: 1px #ddd dotted;
    padding: 6px 0
}

#sidebar .function_c > ul > li:last-child, #divLinkage .function_c > ul > li:nth-last-child(2) {
    border-bottom-color: #fcfcfc
}

#sidebar #divPrevious .function_c > ul {
    padding: 9px 15px 9px 30px
}

#divPrevious .function_c > ul > li:after {
    content: "";
    position: absolute;
    top: 15px;
    left: -12px;
    width: 5px;
    height: 5px;
    background: #ccc;
}

#divCalendar caption {
    width: 100%;
    line-height: 35px;
    border-collapse: collapse;
    text-align: center;
}

#divCalendar table {
    width: 100%;
    border-collapse: collapse;
}

#divCalendar th, #divCalendar td {
    font-size: 12px;
    text-align: center;
    border: 1px #eee solid;
    line-height: 28px;
}

#divCalendar td a {
    color: #F4791F
}

#divSearchPanel .function_c div {
    padding: 25px 0 25px 28px;
    overflow: hidden;
}

#divSearchPanel input[type=text] {
    float: left;
    width: 160px;
    height: 32px;
    border: 1px solid #999;
    border-right: 0;
    text-align: center;
    box-shadow: inset 2px 2px 2px #eee;
    border-radius: 5px 0 0 5px;
    outline: none
}

#divSearchPanel input[type=submit] {
    float: left;
    width: 40px;
    height: 34px;
    border: 0;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #999;
    border-radius: 0 5px 5px 0
}

#divLinkage ul {
    overflow: hidden
}

#divLinkage li {
    float: left;
    width: 48%;
    margin: 0 1%;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#divCatalog .function_t {
    font-weight: bold;
    text-align: left;
    border: 0;
}

#divCatalog .function_t i.fa {
    margin: 0 5px 0 0
}

#divCatalog .function_c > ul {
    padding: 0;
}

#divCatalog .function_c > ul > li {
    line-height: 38px;
    border-bottom: 0;
    border-top: 1px #eee solid;
    padding: 0
}

#divCatalog .function_c > ul > li .sico {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 38px;
    line-height: 38px;
    color: #ccc;
    font-size: 8px;
    text-align: center;
    cursor: pointer
}

#divCatalog .function_c > ul > li .sico:hover {
    border-left: 1px #eee solid;
    background: #f6f6f6
}

#divCatalog .function_c > ul > li a {
    display: block;
    height: 38px;
    text-indent: 28px;
    border-left: 4px #fcfcfc solid;
}

#divCatalog .function_c > ul > li a:hover {
    border-left: 4px #FE6D4B solid;
    background: #f6f6f6
}

#divCatalog .function_c > ul > li ul {
    display: none;
    background: #fafafa
}

#divCatalog .function_c > ul > li li {
    border-top: 1px #eee solid;
}

#divCatalog .function_c > ul > li li a {
    text-indent: 35px;
    border-color: #fafafa
}

#divContorPanel .function_c div {
    line-height: 30px;
    padding: 15px;
}

#divContorPanel a {
    background: #f2f2f2;
    padding: 3px 8px;
    border-radius: 5px
}

#sidebar #divComments .function_c > ul > li {
    line-height: 18px;
    margin-bottom: 6px;
    border-bottom: 0;
    background: #fff;
    padding: 8px 12px;
    word-wrap: break-word;
    word-break: normal;
    border-radius: 3px
}

#divTags .function_c > ul > li {
    display: inline;
    margin-right: 12px;
    border: 0;
}

#divTags .function_c > ul > li a span {
    display: none;
}

#sidebar #diyarea {
    border: 0;
    background: none;
    padding: 0
}

.slfix {
    position: fixed;
    top: 0;
}

/* PageNav */
#pagenavi {
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
    clear: both
}

#pagenavi a, #pagenavi > span {
    display: inline-block;
    font: 14px/20px Arial;
    padding: 5px 12px;
    margin: 2px 1px;
    height: 20px;
    color: #18ade5;
    border: 1px #18ade5 solid;
    background: #FFF
}

#pagenavi a:hover {
    color: #fff;
    border-color: #F4791F;
    background: #F4791F
}

#pagenavi > span {
    color: #fff;
    border-color: transparent;
    background: #F4791F
}

/* Footer */
.flinks {
    margin: 20px 0 10px;
    border: 1px #e9e9e9 solid;
    clear: both;
}

.ilinks {
    line-height: 1.8;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
    clear: both;
}

.ilinks li {
    display: inline-block;
    margin: 0 1em 0 0;
}

.ilinks li a {
    color: #888;
    font-size: 12px;
}

.cdtit .tips {
    position: absolute;
    top: 11px;
    right: 10px;
    color: #999;
    font-size: 12px;
}

#footerbar {
    line-height: 26px;
    font-size: 12px;
    padding: 25px 0;
    color: #aaa;
    background: #34393f;
    overflow: hidden;
    clear: both
}

#footerbar .wrap a {
    color: #888;
    margin: 0 3px
}

#footerbar .ftp {
    border-left: 5px rgba(255, 255, 255, .04) double;
    padding: 0 0 0 25px;
}

#footerbar .fta {
    color: #666
}

.ft-qrcode {
    float: right;
    max-width: 50%;
    height: 90px;
    margin: 0 0 0 35px;
    background: #fff;
    padding: 3px;
}

.backtop {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 180px;
    margin: 0 0 0 650px;
    width: 48px;
    height: 48px;
    line-height: 43px;
    font-size: 30px;
    text-align: center;
    background: #aaa;
    cursor: pointer;
    transition: all .3s linear;
}

.backtop span.fa {
    color: #fff;
}

.backtop:hover {
    background: #777
}

/* PageLeft */
.pagenow {
    line-height: 20px;
    color: #ccc;
    margin: 20px 0 0;
    color: #333;
    font-size: 12px;
    background: #fafafa;
    padding: 8px 12px;
}

.pagenow i {
    margin: 0 8px 0 0
}

.pagenow span {
    color: #999;
    margin: 0 5px;
}

.logbox {
    overflow: hidden
}

.logbox .pagenow {
    margin-bottom: 0;
    border-top: 0
}

.logbox .pagenow i.fa {
    margin-left: 0
}

.logbox .pagenow span {
    color: #ccc;
    margin: 0 4px;
}

.logbox > h1 {
    color: #111;
    font-size: 30px;
    line-height: 1.6;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0 1px 0 #fff;
}

.logbox .data {
    margin: 0 0 10px;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #fafafa;
    padding: 6px 0
}

.logbox .data > span {
    margin: 0 9px;
}

.logbox .data i.fa {
    margin: 0 3px 0 0
}

.pagebox > h1 {
    margin: 0 0 15px;
    border-bottom: 1px #eee solid;
}

.fontzoom {
    margin-left: 15px;
}

.fontzoom a {
    color: #999;
    margin: 0 4px;
}

.logtop, .logbot {
    margin: 0;
    text-align: center;
    overflow: hidden;
    clear: both;
}

.logbot {
    margin: 0 0 15px;
}

.logcon {
    line-height: 2;
    font-size: 16px;
    overflow: hidden
}

.logcon p {
    margin: 0.8em 0;
}

.logcon a {
    color: #F4791F
}

.logcon img, .logcon embed, .logcon iframe {
    max-width: 100% !important;
}

.logcon img {
    height: auto !important
}

.logcon h1, .logcon h2, .logcon h3, .logcon h4, .logcon h5, .logcon h6 {
    margin: 15px 0;
    font-size: 18px;
    line-height: 20px;
    border-left: 5px #F4791F solid;
    padding: 0 0 0 15px;
    font-family: "Microsoft Yahei";
}

.logcon blockquote {
    margin: 5px 0;
    font-size: 0.8em;
    background: #f8f8f8;
    border: 4px #ddd solid;
    border-color: transparent transparent transparent #ddd;
    padding: 15px;
}

.downarea {
    padding: 15px 0 20px;
    border-top: 1px #e9e9e9 dashed;
    overflow: hidden;
    clear: both;
}

.downarea a {
    position: relative;
    display: inline-block;
    height: 39px;
    line-height: 39px;
    padding: 0 20px 0 55px;
    margin: 2px 1em 0 0;
    border: 1px #ddd solid;
    border-width: 1px 1px 4px;
    font-weight: bold;
    color: #0b588c;
    border-radius: 3px;
    overflow: hidden;
}

.downarea a .fa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    line-height: 39px;
    border-right: 1px #ddd solid;
    padding: 0 12px;
    font-weight: bold;
    font-size: 16px;
    color: #0b588c;
}

.downarea a:hover {
    color: #fff;
    background: #0b588c;
    border-color: #0b588c #0b588c #0b4972;
}

.downarea a:hover .fa {
    color: #fff;
    border-color: #0b4972;
}

.nodtips {
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #D3D3D3;
    background: #F7F7F7;
    padding: 30px 0;
}

.logbox .ainfo {
    margin: 0 0 20px;
    line-height: 28px;
    text-align: center;
    border: 1px #F4791F dashed;
    padding: 1em;
    border-radius: 8px;
}

.logbox .ainfo legend {
    text-align: center;
    color: #fff;
    background: #F4791F;
    border-radius: 8px;
    padding: 0 15px;
    cursor: pointer;
}

.logbox .ainfo #aurl {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

.logbox .tags {
    margin: 0 0 15px;
}

.nextlog {
    line-height: 30px;
    margin: 0 0 20px;
    background: #fafafa;
    padding: 15px 0 15px 15px;
    overflow: hidden;
    clear: both
}

.link-box {
    overflow: hidden;
    clear: both
}

.link-box h3 {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 0 0 10px;
    border-bottom: 1px #e9e9e9 solid;
}

.rexlist li {
    float: left;
    width: 48%;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 1%
}

.rexlist li i.fa {
    margin-right: 5px;
    font-size: 10px
}

.searchbox p {
    line-height: 1.8;
    margin: 15px 0
}

.searchbox p a:first-child {
    color: #06C;
    font-size: 16px;
    text-decoration: underline
}

.social-share {
    margin: 0 0 6px;
}

/* Comment */
.ocmt-box {
    margin: 25px 0 0;
    overflow: hidden;
    clear: both;
}

ul.msg {
    margin: 10px 0;
    padding: 5px 0;
    text-align: left;
    list-style-position: outside;
    table-layout: fixed;
    word-wrap: break-word;
    clear: both
}

li.tbname {
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px #e9e9e9 solid;
    position: relative;
    margin-top: 5px;
    font-weight: bold
}

li.tbname span {
    font-weight: normal;
    margin-right: 2px;
}

li.msgname {
    padding: 0 0 5px 5px;
}

li.msgarticle {
    color: #666;
    font-size: 14px;
    padding: 0 0 15px;
    line-height: 160%;
    padding-left: 55px;
    border-bottom: 1px #e9e9e9 solid;
}

li.msgtime {
    padding: 5px 0 0 0;
}

img.avatar {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 15px 0 0;
    border-radius: 5px
}

ul.msg ul.msg {
    margin: 10px 0 0;
    clear: both;
    border: 1px #eee solid;
    padding: 10px 5px 0 10px
}

ul.msg ul.msg li.msgarticle {
    padding-bottom: 5px;
    border-bottom: 0
}

ul.msg ul.msg li.msgname {
    padding: 0
}

.msgname small {
    color: #999;
    font-size: 12px;
    margin: 0 10px
}

.commentname {
    font-size: 12px;
}

.revertcomment a {
    color: #690;
    font-size: 10px;
}

.posttop {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0 0;
    clear: both
}

.post {
    padding: 15px 0;
    overflow: hidden;
    clear: both
}

.post .posttop {
    padding: 5px 0 15px
}

.post p {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 15px 10px 0;
    border: 1px #ccc solid;
    background: #eee;
    border-radius: 5px
}

.post p i.fa {
    width: 30px
}

.post p input {
    height: 28px;
    line-height: normal;
    vertical-align: top;
    text-indent: 8px;
    border: none;
    border-left: 1px #ccc solid;
    outline: none;
    border-radius: 0 5px 5px 0
}

.post p.vcode {
    background: none;
    margin-right: 0;
    padding-left: 3px
}

.post p.vcode input {
    border: 0
}

.post p.vcode img {
    height: 100%
}

#cancel-reply {
    float: right;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 7px
}

div.reply-frm {
    background: #f0f0f0;
    box-shadow: 0 0 15px #999;
    margin: 1em 0 !important;
    padding: 10px !important;
    min-width: 330px;
}

#txaArticle {
    display: block;
    width: 98%;
    width: calc(98% - 2px);
    height: 80px;
    font-size: 14px;
    border: solid 1px #ccc;
    padding: 1%;
    resize: none;
    outline: none;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top, #f9f9f9, #fff);
    background-image: linear-gradient(to bottom, #f9f9f9, #fff);
    background-repeat: repeat-x;
    border-radius: 5px 5px 0 0;
    clear: both
}

.post .cpost {
    position: relative;
    width: calc(98% - 2px);
    border: 1px solid #ccc;
    border-top: 0;
    overflow: hidden;
    padding-right: 2%;
    background-image: linear-gradient(to bottom, #fff, #f9f9f9);
    clear: both
}

.post .cpost i.fa {
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 16px;
    border-right: 1px #ccc solid;
    background: #eee;
    background-image: linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
    background-image: -webkit-linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
    cursor: pointer
}

.post .cpost .button {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    background: #eee;
    border: 0;
    border-left: 1px #ccc solid;
    cursor: pointer;
    background-image: linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
    background-image: -webkit-linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
    outline: none
}

.post .cpost i.fa:hover, .post .cpost .button:hover {
    background-image: linear-gradient(#E8E7E7, #E7E5E5 25%, #FDFDFD);
    background-image: -webkit-linear-gradient(#E8E7E7, #E7E5E5 25%, #FDFDFD);
}

.post .cpost .keytip {
    position: absolute;
    top: 8px;
    right: 100px;
    color: #ccc;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    text-shadow: 1px 1px 0 #fff;
}

.mbnavbar {
    display: none
}

@media only screen and (max-width: 1200px) {
    .bigbox {
        width: 100%;
    }

    .wrap {
        width: 96%;
    }
}

@media only screen and (max-width: 990px) {
    .alltop, #sidebar {
        display: none;
    }

    .cdmslider {
        float: none;
        width: 100%;
        height: auto;
        clear: both;
    }

    .cdmslider + .inews {
        margin-top: 15px;
    }

    .cmslist {
        width: 49%;
        margin-right: 0;
    }

    .cmslist:nth-child(2n) {
        float: right;
    }

    #contentleft {
        margin-right: 0;
    }

    .vpshow {
        text-align: center;
    }

    .vplist li {
        float: none;
        display: inline-block;
    }

    .vplist li:nth-child(5n) {
        margin-right: 16px;
    }

    .loglist {
        padding-right: 0;
    }
}

@media only screen and (max-width: 640px) {
    body {
        padding-top: 50px;
    }

    #topnav {
        position: fixed;
        top: 55px;
        right: -100%;
        height: auto;
        border: 1px #888 dashed;
        border-right: 0;
        border-radius: 9px 0 0 9px;
        background: none;
        padding: 0 10px 0 0;
        z-index: 9999;
    }

    #topnav .tnrt a {
        display: block;
        white-space: nowrap;
    }

    .tnlt, #topnav .tnrt a.hd-qrcode, .topsh .swd {
        display: none;
    }

    .maintop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #34393f;
        padding: 5px 0;
        z-index: 9990;
    }

    .maintop .mlogo {
        float: none;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }

    .maintop .mlogo a {
        display: block;
        height: 40px;
        overflow: hidden;
    }

    .maintop .mlogo img {
        max-height: 100%;
    }

    .maintop .topsh {
        float: none;
        position: absolute;
        top: 12px;
        right: 10px;
        padding: 0;
    }

    .topsh .hdin {
        width: 40px;
        height: 24px;
        line-height: 24px;
        color: #999;
        border-color: #999;
        transition: all .2s linear;
    }

    .topsh .hdin:focus {
        width: 60px;
    }

    .topsh .hbtn {
        font-size: 16px;
        margin: -2px 0 0 -22px;
    }

    .mbnavbar {
        display: block;
        position: absolute;
        top: 18px;
        left: 13px;
        width: 30px;
        height: 12px;
        cursor: pointer;
    }

    .mbnavbar:before, .mbnavbar:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ddd;
        overflow: hidden;
    }

    .mbnavbar:after {
        top: auto;
        bottom: 0;
    }

    .mbnavbg {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        z-index: -1;
    }

    .topmenu {
        position: fixed;
        top: 50px;
        left: -100%;
        height: 100%;
        line-height: 40px;
        z-index: 9999;
    }

    .navbar {
        position: relative;
        width: auto;
    }

    .navbar li {
        float: none;
        border-bottom: 1px rgba(255, 255, 255, .2) solid;
    }

    .navbar li ul {
        top: -1px;
        left: 100%;
    }

    .navbar li li {
        border-bottom: 0;
        border-left: 1px rgba(255, 255, 255, .2) solid;
    }

    .navbar li ul li a {
        height: 40px;
        line-height: 40px;
    }

    .navbar li a i.fa-caret-down {
        transform: rotate(-90deg);
    }

    .navbar li:hover i.fa-caret-down {
        transform: rotate(90deg);
    }

    .inews {
        height: auto;
    }

    .inews ul {
        padding: 6px 0;
    }

    .inews li, .cmslist, .cmslist:nth-child(2n) {
        float: none;
        width: 100%;
        clear: both;
    }

    .vplist li {
        width: 160px;
        height: 120px;
        margin: 8px 8px 0 0;
    }

    .vplist li:nth-child(5n) {
        margin-right: 8px;
    }

    .vplist li:nth-child(2n) {
        margin-right: 0;
    }

    .vpshow {
        padding: 0 8px 8px;
    }

    .loglist li.con {
        position: relative;
    }

    .loglist li.con a.pic {
        height: 90px;
        margin-top: 35px;
    }

    .loglist li.con h4 {
        position: absolute;
        top: 20px;
        left: 0;
        max-width: 100%;
        font-size: 18px;
        padding: 0 0 8px;
    }

    .loglist li.con .des .text {
        height: 96px;
        margin: 32px 0 8px;
    }

    .loglist li.con .des .attr {
        text-align: left;
    }

    .logbox > h2 {
        font-size: 20px;
        padding: 0 0 15px;
    }

    .logbox .data .cate, .logbox .data .author, .comms {
        display: none;
    }

    .downarea {
        text-align: center;
    }

    .rexlist li {
        float: none;
        width: 98%;
    }

    .ft-qrcode {
        display: none;
    }

    #footerbar {
        line-height: 20px;
        padding: 12px 0;
    }

    #footerbar .ftp {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 386px) {
    .vplist li {
        width: 128px;
        height: 86px;
        margin: 8px 8px 0 0;
    }

    .vplist li .text {
        bottom: -17px;
    }

    .vplist li .text a {
        height: 30px;
        line-height: 15px;
        font-size: 12px;
    }
}

/* 以上代码已做最佳状态处理，若无十足把握切勿擅自修改，定制需求可联系作者！（尔今 77940140）
https://app.zblogcn.com/?auth=3ec7ee20-80f2-498a-a5dd-fda19b198194 */